@media screen and (max-width: 600px) {
  .letter-mv{
    font-size: 40px!important;
  }
  .ocultar-div{
    display:none;
  }
  .main-presentation {
    width: 85%!important;
    height: 550px!important;
    background-color: #e73c7e;
    text-align: center;
    border-radius: 15px;
    padding-top: 75px;
  }
}

.bkg-alternative {
  background: linear-gradient(-45deg, rgba(0,0,0,1),  rgba(35,23,171,0.85), rgba(35,213,171,0.85))!important;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite!important;
}

.fix-display {
  height: 8vh;
}

.full-display {
  height: 100%;
}

.mrg-main {
  margin-top: 80px;
}

.mrg-ctn {
  margin-top: 40px;
}

.mrg-end {
  margin-bottom: 40px;
}


.main-presentation {
  width: 75%;
  height: 400px;
  background-color: #e73c7e;
  text-align: center;
  border-radius: 15px;
  padding-top: 75px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.let-ch {
  font-family: atten-round-new, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.color-wh {
  color: white!important;
}

.btn-start {
  background: linear-gradient(-45deg, rgb(241, 26, 101),  rgba(35,23,171,0.85), rgba(35,213,171,0.85))!important;
  color: white!important;
  height: 40px;
  width: 200px;
  border: none!important;
  border-radius: 15px;
  outline: none!important;
}

.txt-center {
  text-align: center!important;
}

.ft-600 {
  font-weight: 600;
}

/** Card desing **/

* {
  box-sizing: border-box;
}

.slider {
  width: 75%;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;



  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: #e91f8b;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 500px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.slides > div:target {
  /*   transform: scale(0.8); */
}
.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}
img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}


.data-music,body {
  background: transparent!important;
}

.bkg-alternative {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5)!important;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite!important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bck-main{
  height: 100vh;
}

.header {
  position: fixed;
  height: 100px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 15px;
}

#audio-element {
  width: 100%;
  outline: none!important;
}

.bkg {
  background: black!important;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  font-size: 80px;
  color: white;
  font-family: atten-round-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  word-wrap: break-word;
}

.let-ch {
  font-family: atten-round-new, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.justify-text {
  word-wrap: break-word;
  max-width:100%;
}

.adjust-v-h {
  display:flex;
  justify-content: center;
  align-items: center;
}

.player {
  position:fixed;
  left:0px;
  right:0px;
  bottom:0px;
  z-index:0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.centered {
  left: 50%!important;
  transform: translate(-50%, 0)!important;
}

.data-music {
  color: white;
}

.music-player {
  height: 100px;
  width: 100%;
  background: rgba(0,0,0,0.5);
}

.btn-play {
  background-color: transparent!important;
  border: none!important;
  color: white;
  margin-left: 5px;
  margin-top: 25px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  outline: none!important;
}

.btn-play-style {
  color: white;
}

#timeline{
  width: 85%;
  height: 20px;
  margin-top: 20px;
  float: left;
  border-radius: 15px;
  position: relative;
  background: #5f2c82;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.uk-progress{
  overflow: hidden;
  height: 20px!important;
  -webkit-appearance: none;
  background-color: transparent!important;
  border-radius: 15px;
  outline: none!important;
}

input[type='range']::-webkit-slider-thumb {
  width: 20px;
  -webkit-appearance: none;
  height: 20px;
  cursor: ew-resize;
  border-radius: 50%;
  background: white;
}

.vranger {
  margin-top: 50px;
  transform: rotate(270deg);
  -moz-transform: rotate(270deg); /*do same for other browsers if required*/
}

.volume-input::-webkit-slider-thumb {
  width: 20px;
  -webkit-appearance: none;
  height: 20px;
  cursor: ew-resize;
  border-radius: 50%;
  background: white!important;
}

/* Safari syntax */
:-webkit-full-screen {
  background-color: yellow;
}

/* IE11 */
:-ms-fullscreen {
  background-color: yellow;
}

/* Standard syntax */
:fullscreen {
  background-color: yellow;
}

