<app-navbar></app-navbar>

<body class="bkg-alternative full-display let-ch">
<div id="main" class="fix-display">
</div>

<div style="background: url(https://miro.medium.com/max/10000/0*980dH3rjTZ6BHbWw);background-position: center;
background-repeat: no-repeat;background-size: cover;" class="main-presentation mx-auto mrg-main">
  <div style="margin-top: 35px; text-align: left; margin-left: 20px" class="color-wh">
    <h3>Hola <span style="font-weight: 600">de nuevo</span></h3>
    <h1 style="font-size:50px;"><span style="font-weight: 600">Username name</span></h1>
  </div>
</div>

<div class="mrg-main"></div>
<div class="mx-auto color-wh w-75 " style="text-align: center;">
  <div style="text-align: left">
    <h2>Tus <span class="ft-600">videos e historia</span></h2>
    <p style="font-size: 22px">Tu propio espacio, tu propio arte</p>
  </div>


  <div class="mrg-main mx-auto mrg-ctn">

    <div class="slider mx-auto">

      <div class="slides">
        <div style="background: url(https://miro.medium.com/max/10000/0*980dH3rjTZ6BHbWw);background-position: center;background-repeat: no-repeat; background-size: cover">
          <div class="row" style="margin-left: 95px">
            <div class="col-12 text-1" style="text-align: left; margin-left: 15px"><h3>Titulo del video a ama aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h3></div>
            <div class="col-12 w-75 text" style="font-size: 20px; text-align: left; margin-left: 15px">
              <p>Descripción del video aaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaa</p>
            </div>
          </div>
        </div>

        <div>
          2
        </div>
        <div>
          3
        </div>
        <div>
          4
        </div>
        <div>
          5
        </div>
        <div class="bkg-alternative">
          <div class="row">
            <div class="col-12">
              <h2><span class="ft-600">Descubre más</span></h2>
            </div>
            <div class="col-12" style="margin-top: -70px">
              <button class="btn-start" style="font-size: 22px">Más</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button class="btn-start" style="font-size: 22px; margin-top: 15px; margin-bottom: 15px">Ver todo</button>
      </div>
    </div>
  </div>


</div>

</body>
