<nav class="navbar navbar-expand-lg navbar-light bg-light desing-main-navbar let-ch" style="z-index: 100; position: fixed; width: 100%">
  <div class="container-fluid">
    <a class="navbar-brand color-wh let-25" href="/home"><span class="let-bold">Fun</span>Lyrics:)</a>
    <button class="navbar-toggler color-wh" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: white!important; outline: none!important;" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active color-wh" aria-current="page" href="/my-funsync">Mi perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-wh" href="/lyrics/sync">Sync<span class="let-bold">Fun:)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-wh" href="/watchfun" tabindex="-1" aria-disabled="true">Watch<span class="let-bold">Fun:)</span></a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2 lg-w75 bd-r15 stl-search-i" type="search" placeholder="Buscar en WatchFun:)" aria-label="Search">
        <button class="btn btn-outline-success color-wh btn-search" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
